---
import Layout from "../layouts/Layout.astro";
import HeaderNav from "../components/HeaderNav.astro";
import TecMainIntro from "../components/TecMainIntro.astro";
import TecMainBienvenidos from "../components/TecMainBienvenidos.astro";
import Footer from "../components/Footer.astro";
import TecMainServicios from "../components/TecMainServicios.astro";
import TecMainCorporativos from "../components/TecMainCorporativos.astro";
import TecMainDestacado from "../components/TecMainDestacado.astro";
import TecMainPropDest from "../components/TecMainPropDest.astro";
import TecMainConsultoria from "../components/TecMainConsultoria.astro";
import TecMainDestBruno from "../components/TecMainDestBruno.astro";
import TecMainListo from "../components/TecMainListo.astro";
import HomeAnclas from "../components/HomeAnclas.astro";

const title = "TECNIPROP - Broker Consulting";
---

<Layout title={title}>
  <div id="inicio">
    <HeaderNav />
    <TecMainIntro />
  </div>
  
  <div id="bienvenidos">
    <TecMainBienvenidos />
  </div>
  
  <div id="inversiones">
    <TecMainServicios />
    <TecMainCorporativos />
  </div>
  
  <TecMainDestacado />
  
  <div id="propiedad-destacada">
    <TecMainPropDest />
  </div>
  
  <div id="consultoria">
    <TecMainConsultoria />
  </div>
  
  <TecMainDestBruno />
  
  <div id="servicios-corporativos">
    <TecMainListo />
  </div>
  
  <HomeAnclas />
  <Footer />
</Layout>