---

---

<section class="bg-tecniprop-amarillo py-6 my-6">
    <!-- Estructura de 3 columnas con gaps y márgenes consistentes -->
    <div
        class="grid grid-cols-3 gap-12"
        style="margin-left: 75px; margin-right: 75px;"
    >
        <!-- Columna 1: Títulos y botón -->
            <div
                class="col-span-1 flex flex-col justify-center"
                style="width: 590px; padding: 25px; height: auto;"
            >
                <h4 class="font-raleway font-bold text-2xl text-black leading-10" style="margin: 0;">
    ASESORAMOS Y ACOMPAÑAMOS A LAS EMPRESAS EN CADA PASO DE ESTE PROCESO.
</h4>
            </div>
            <!-- Columna 2: Texto resaltado -->
             <div
                class="col-span-1 flex flex-col justify-center"
                style="width: 590px; padding: 25px; height: auto;"
            >
                <h4 class="font-raleway font-bold text-2xl text-black leading-10" style="margin: 0;">
                    NUESTRO COMPROMISO ES IMPULSAR JUNTOS EL CRECIMIENTO DE TU NEGOCIO.
                </h4>
            </div>
            
            <!-- Columna 3: Imagen -->
            <div
                class="col-span-1 flex flex-col justify-center"
                style="width: 590px; padding: 25px; height: auto;"
            >
                <img src="https://i.ibb.co/mFNQMPwj/Img-Alcanza-Tu-Meta.png" alt="Alcanza tu meta">
            </div>
        </div>
    </div>
</section>
