---
import '../styles.css';
const { title = 'TECNIPROP - Broker Consulting' } = Astro.props;
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content="TECNIPROP Broker Consulting - Inversiones inmobiliarias, terrenos, naves logísticas industriales. Honestidad, profesionalismo y tecnología a tu servicio." />
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body class="font-opensans bg-white text-tecniprop-gris">
    <slot />
  </body>
</html>
  </body>
</html>
